@font-face {
  font-family: "Verdana";
  src: url("./assets/fonts/Verdana.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("./assets/fonts/Verdana-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold;
}
@font-face {
  font-family: "Verdana";
  src: url("./assets/fonts/Verdana-Italic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("./assets/fonts/Verdana-BoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: bold;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

h1 {
  margin: 1rem 0;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;

  font-family: Verdana, sans-serif; 
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.container input{
  display: none;
}

.container .acor__label {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border-top: 0.5vh solid darkgrey;
  color: darkblue;
}

.acor__title {
  display: flex;
  justify-content: space-between;
}

.container:hover input,
.container:hover .acor__label {
  cursor: pointer;
  color: #000000;
}
.container:hover .acor__label .acor__title_icom {
  display: block;
}

.acor__image {
  width: 25rem;
  display: block;
  overflow: hidden;
  max-height: 0;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}
.acor__title_icom {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.5s ease-out;
}

.container .acor__label:hover .acor__title_icom {
  display: block;
  transform: rotate(45deg);
}
.container .acor__label:hover .acor__image {
  max-height: 100vh;
  padding-top: 1rem;
}

.container input:checked + .acor__label {
  cursor: pointer;
  color: #000000;
}
.container input:checked + .acor__label .acor__title_icom {
  transform: rotate(45deg);
}
.container input:checked + .acor__label .acor__image {
  max-height: 100vh;
  padding-top: 1rem;
}
